.banner{
  height: 680px;
  background-image: url("../../../images/mainbanner.jpg");
  box-shadow: 0 0 0 500px rgba(36, 36, 36, 0.1) inset;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: -20px;
}