<nav class='main-nav'>
    <div class='navbar navbar-default'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar text-center'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' [routerLink]="['/welcome']">OurNetwork</a>
      </div>

      <div class='navbar-collapse collapse'>
        <ul class="nav navbar-nav navbar-right " >
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-user-plus" aria-hidden="true"></i>/<i class="fa fa-sign-in " aria-hidden="true"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a class="btn btn-link" [routerLink]="['/welcome/singUp']">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Sing up
                </a>
              </li>
              <li>
                <a class="btn btn-link" [routerLink]="['/welcome/singIn']">
                  <i class="fa fa-sign-in " aria-hidden="true"></i> Sing in
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>

