<section class="container">
<form class="row" autocomplete="off"  #filderForm="ngForm" (ngSubmit)="filter(filderForm.form.get('filter')?.value)" novalidate>
  <div class="col-sm-9 form-group">
        <label for="filter text-center">Name </label>
        <input  id="filter" type="text" (ngModel)="filter" name="filter" required  class="form-control" >
  </div>
  <div class="col-sm-3 form-group">
        <button [disabled]="filderForm.invalid"  class="btn btn-default form-control">Filter</button>
  </div>
</form>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>Add</th>
    </tr>
  </thead>
      <tbody>
      <tr *ngFor="let user of users ">
        <td><a [routerLink]="['/account/user/' + user.userName ]">{{user.userName}}</a></td>
        <td><button class="btn btn-default" (click)="addFriend(user.userName)">Add to friend</button></td>
      </tr>
    </tbody>
</table>
</section>