 <form autocomplete="off"  class="center-block auth-div" #singUpForm="ngForm" (ngSubmit)="singUp(singUpForm.value)" novalidate>
   <fieldset>
      <legend class="text-center h4">Join our club to be lucky</legend>
      <div class="form-group">
        <label for="userName">Name </label>
        <input  id="userName" type="text" (ngModel)="userName" name="userName" required  class="form-control" >
        <em [hidden]="!(singUpForm.form.get('userName')?.invalid &&(singUpForm.form.get('userName')?.touched || mouseoverLogin))">
            Enter valid name</em>
      </div>
      <div class="form-group" >
        <label for="password">Password </label>
        <input id="password" (ngModel)="password" name="password" minlength="6" required class="form-control" type="password">
        <em [hidden]="!(singUpForm.form.get('password')?.invalid && (singUpForm.form.get('password')?.touched || mouseoverLogin))" >
            Enter valid password
        </em>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password </label>
        <input id="confirmPassword" (ngModel)="confirmPassword" name="confirmPassword" minlength="6" required class="form-control" type="password">
        <em [hidden]="!(singUpForm.form.get('confirmPassword')?.value !== singUpForm.form.get('password')?.value && (singUpForm.form.get('confirmPassword')?.touched || mouseoverLogin))" >
             Passwords are different
        </em>
      </div>
      <div [hidden]="load" class="form-group" (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">                       
        <button  type="submit" class="btn btn-primary form-control" [disabled]="singUpForm.invalid"> 
            Sing up
        </button>
      </div> 
      <div [hidden]="!load">
        <div class="text-center ">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        </div>
      </div>  
      <em [hidden]="!errorMassage">
          Try again =(
      </em>
   </fieldset>
 </form>