<section>
  <h2 class="text-center">{{userInfo?.userName}} profile</h2>
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 ">
          <img [src]="userInfo?.imagePath" class="img-responsive">
  </div>
  <h2 class="col-xs-12 text-center">{{userInfo?.contactEmail}} profile</h2>

  <div class="col-sm-12">
    <h3 class="text-center">Friends</h3>
      <ul class="list-group col-sm-offset-4 col-sm-4">
        <li class="list-group-item text-center" *ngFor="let friend of friends | async ">
              {{friend.userName}}
        </li>
      </ul>
  </div>
</section>