li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
}
@media (max-width: 767px){
  .navbar-brand{
    .navbar-right{
      visibility: hidden;
    }
  }
  .main-nav {
    position: static;
  }
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    height: 100%;
    width: calc(20%);
    z-index: 1;
    
    .navbar {
      border-radius: 0px;
      border-width: 0px;
      height: 100%;
      border-right: 0.5px solid #444;
      .navbar-header {
        float: none;
      }
      .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
      }
      ul {
        float: none;
      }
      li {
        float: none;
        font-size: 15px;
        margin: 6px;
        a {
          padding: 10px 16px;
          border-radius: 4px;
        }
      }
      a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
