<nav class='main-nav'>
  <div class='navbar navbar-default'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar text-center'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      <a class='navbar-brand text-center' [routerLink]="['/account/user/' + userName ]">OurNetwork</a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class="nav navbar-nav">
        <li>
          <a class="btn btn-link" [routerLink]="['/account/edit']">
                  Edit Profile
          </a>
        </li>
        <li>
          <a class="btn btn-link" [routerLink]="['/account/search']">
                  Search
          </a>
        </li>
        <li>
          <a class="btn btn-link" (click)="singOut()"  >
            <i class="fa fa-user-plus" aria-hidden="true"></i> Sing out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>