 <form autocomplete="off"  class="col-sm-6 col-sm-offset-3 auth-div" #editProfileForm="ngForm" (ngSubmit)="edit()" novalidate>
   <fieldset>
      <legend class="text-center h4">Edit profile</legend>
      <div class="form-group">
        <label for="userName text-center">Name </label>
        <input disabled  id="userName" type="text" [(ngModel)]="userInfo.userName" name="userName" required  class="form-control" >
        <em [hidden]="!(editProfileForm.form.get('userName')?.invalid &&(editProfileForm.form.get('userName')?.touched || mouseoverLogin))">
            Enter valid name</em>
      </div>
      <div class="form-group" >
        <label for="email text-center">Email </label>
        <input id="email" [(ngModel)]="userInfo.contactEmail" name="email" class="form-control" email>
        <em [hidden]="!(editProfileForm.form.get('email')?.invalid && (editProfileForm.form.get('email')?.touched || mouseoverLogin))" >
            Enter valid email
        </em>
      </div>
      <div class="form-group">
        <label for="image">Image </label>
        <input id="image" (change)="onChange($event)"  name="image" accept="image/*"  class="form-control" type="file">
      </div>
      <div [hidden]="load" class="form-group" (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
        <button type="submit" class="btn btn-primary form-control" [disabled]="editProfileForm.invalid"> Edit </button>
      </div>
      <div [hidden]="!load">
        <div class="text-center ">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        </div>
      </div>
      <em [hidden]="!errorMassage">
          Try again =(
      </em>
   </fieldset>
 </form>