
/*==========  Desktop First Method  ==========*/
h4{
  margin-bottom: 15px;
}
.auth-div{
  width: 400px;
  margin-top: 150px;
  margin-bottom: 75px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h4{
    margin-bottom: 15px;
  }
  .auth-div{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

}
iframe{
  width: 100%;
  height: 300px;
  position: absolute;
  border: none;
}

link{
  width: 100%;
  height: 300px;
  position: absolute;
  border: none;
}

legend{
  border: none;
  padding-bottom: 25px;
  padding-top:  10px;
}
