 <form autocomplete="off"  class="center-block auth-div" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
   <fieldset>
      <legend class="text-center h4">Hello =)</legend>
      <div class="form-group" [ngClass]="{'error':loginForm.form.get('userName')?.invalid
            &&(loginForm.form.get('userName')?.touched || mouseoverLogin)}">
        <label for="userName">Name </label>
        <input  id="userName" type="text" (ngModel)="userName" name="userName" required  class="form-control" >
      </div>
      <div class="form-group" [ngClass]="{'error':loginForm.form.get('password')?.invalid
               && (loginForm.form.get('password')?.touched || mouseoverLogin)}">
        <label for="password">Password </label>
        <input id="password" (ngModel)="password" name="password" minlength="6" required class="form-control" type="password">
      </div>
      <div [hidden]="load" class="form-group" (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
        <button type="submit" class="btn btn-primary form-control" [disabled]="loginForm.invalid"> Sing in </button>
      </div>
      <div [hidden]="!load">
        <div class="text-center ">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        </div>
      </div> 
   </fieldset>
   <span [hidden]="!fail">Try again</span>
 </form>