/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
html,.body-content {
  width: 100%;
  height: 100%;
}

.error input {
  border-bottom: 1px solid #E05C65;
}

.error input:hover {
  opacity:1.0;
  box-shadow:none;
}
.error input:focus{
  opacity:1.0;
  box-shadow:none;
}
.error input:active{
  opacity:1.0;
  box-shadow:none;
}
em {float:right; color:#E05C65; padding-left:10px;}
.error input {border-bottom: 1px solid #E05C65;}